In [3]:
isinstance(True, str)

False

In [3]:
isinstance(False, bool)

True

In [4]:
5 + True

6

In [1]:
5 and 0

0

In [2]:
1 and 5

5

In [3]:
5 and 6

6

In [4]:
7 and 6

6

In [5]:
6 and 7

7

In [9]:
def sheldon_knock(name):
    print("knock knock knock", name)

In [10]:
sheldon_knock("abc")

knock knock knock abc

In [3]:
users = {
    "jatin": "password",
    "prateek": "coding blocks"
}

In [5]:
def show(username, password):
    if username in users and users[username] == password:
        print("Hello World")
    else:
        print("Not Authenticated")

In [6]:
show("jatin", "password")
show("jatin", "password123")

Hello World
Not Authenticated

In [7]:
def add(username, password, a, b):
    if username in users and users[username] == password:
        print(a+b)
    else:
        print("Not Authenticated")

In [9]:
add("jatin", "password", 1, 2)
add("jatin", "password123", 1, 2)

3
Not Authenticated

In [16]:
def temp(*args, **kwargs):
    print(args)
    print(kwargs)

In [17]:
a = (1,2,3)

In [19]:
temp(a)
temp(*a)

((1, 2, 3),)
{}
(1, 2, 3)
{}

In [26]:
def addition(a,b):
    print(a+b)

In [27]:
def login_required(func):
    def wrapper(username, password, *args, **kwargs):
        if username in users and users[username] == password:
            # user is autenticated
            func(*args, **kwargs)
        else:
            print("Not Authenticated")
    return wrapper

In [28]:
protected_add = login_required(addition)

In [29]:
print(protected_add)

<function login_required.<locals>.wrapper at 0x7ff00807caf0>

In [30]:
protected_add("jatin", "password", 1, 2)
protected_add("jatin", "password123", 1, 2)

3
Not Authenticated

### These two are the same

In [33]:
def addition(a,b):
    print(a+b)
addition = login_required(addition)

In [34]:
@login_required
def addition(a,b):
    print(a+b)

In [35]:
addition("jatin", "password", 1, 2)
addition("jatin", "password123", 1, 2)

3
Not Authenticated

### Lists

In [5]:
# empty list
a = list()
b = []

In [8]:
c = ['jatin', 1, 1.6, print]

In [9]:
c[3]

In [10]:
c[3]("hello")

hello

In [11]:
d = ["jatin", "prateek", "mohit", "jatin"]

In [12]:
d.remove("jatin")

In [13]:
d

['prateek', 'mohit', 'jatin']

In [14]:
a = [1,3,2,4]

In [15]:
sorted(a)

[1, 2, 3, 4]

In [16]:
a

[1, 3, 2, 4]

In [17]:
reversed(a)

### Tuples

In [18]:
# swapping the values of two variables 
# (values in them should be numbers i.e. integers or floats and not strings)
a = 5
b = 9

temp = a
a = b
b = temp

a = a+b
b = a-b
a = a-b

a = a^b
b = a^b
a = a^b

In [19]:
def func(*args):
    print(args)

In [20]:
func(1,2,3,4)
# Once a function is called, these arguments will never change and stay intact throughout
# the execution of the function, hence python uses tuple to crete this packed form.
# We never need to modify these arguments, these arguments are given to us by the user
# whenever the function is called, hence we never want to change these arguments and we use tuples.

(1, 2, 3, 4)

In [21]:
# another way of creating tuple - comma separated values
a = 1,2

In [22]:
type(a)

tuple

In [23]:
# tuples can be used on left side of assignement operator as well.
# number of variables / length of tuple on the left side of the assignement operator
# should always be equal to number of items on the right side of the assignement operator.
c, d = a
# python unpacks a and assigns the values to the left side of assignement operator (c and d).

In [24]:
c

1

In [25]:
d

2

In [26]:
# swapping values using tuple
a = 5
b = 9
(a,b) = (b,a)

In [27]:
print(a, b)

9 5

In [28]:
# coverting a tuple into a list
a = (1,2,3,4,5)
a = list(a)
a
# list function takes an iterable as an arguemnent
# as tuple is an iterable, hence it converted it to a list

[1, 2, 3, 4, 5]

In [29]:
# another example of iterable is range and it will convert range into a list as well
a = list(range(15))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
# another example of iterable is string
# string will be converted into a list with each of the letters in the string 
# as elements of the list
a = "jatin"
a = list(a)
a

['j', 'a', 't', 'i', 'n']

In [31]:
# coverting a list into a tuple
a = tuple(a)
a
# tuple function takes an iterable as an arguemnent and converts it to a tuple

('j', 'a', 't', 'i', 'n')

In [32]:
# returning multiple values from function using tuple
def addSubtract(a,b):
    return a+b, a-b       # returning tuple

In [33]:
# assigning by tuple destructuring property
sum, diff = addSubtract(12,6)

In [34]:
sum

18

In [35]:
diff

6

### Dictionaries

In [38]:
# dictionary is an unordered data structure which stores the data in the form of key-value pair
a = {
    "name": "jatin",
    "marks": 90,
    "subjects": ["emg", "math"],
    "friends": {
        "pulkit": "android"
    }
}

In [40]:
# to access particular data inside the dictionary, we can access the data using the key
a["name"]

'jatin'

In [41]:
# dictionary is also iterable
# by default iterating on the dictionary returns all the keys in the dictionary
for key in a:
    print(key)

name
marks
subjects
friends

#### Certain methods that help us out to iterate over a dictionary

In [42]:
# items method will create a tuple of pairs inside the dictionary
# there were four keys in the dictionary, so there are 4 tuples
# it creates the tuple of key and value and returned it in every iteration
for item in a.items():
    print(item)

('name', 'jatin')
('marks', 90)
('subjects', ['emg', 'math'])
('friends', {'pulkit': 'android'})

In [43]:
# using the item method, generally we iterate over dictionary by destructuring the tuple
for key, value in a.items():
    print(key, "=>", value)

name => jatin
marks => 90
subjects => ['emg', 'math']
friends => {'pulkit': 'android'}

In [44]:
# on iterating over keys method, it returns all the keys in the dictionary
for key in a.keys():
    print(key)

name
marks
subjects
friends

In [45]:
# values method returns all the values inside the dictionary
# it ignores the key and just returns all the values that are present inside the dictionary
for val in a.values():
    print(val)

jatin
90
['emg', 'math']
{'pulkit': 'android'}

In [48]:
# get() and clear() are the safe methods
# to access data, a.get("name") and a["name"] perform the same task
a.get("name")

'jatin'

In [49]:
# we can always index a dictionary using square brackets and fetch the values
a["name"]

'jatin'

In [50]:
# if we don't have the key i.e. it doesn't exist in the dictioanry, a["name1"] will give an error
# in the case of get method, it returns none and doesn't throw an error
# so, get is a safe mathod (it returns none or value)
a.get("name1")

In [51]:
# clear method will clear out all the dictionary and we will be left with an empty dictionary
a.clear()

In [52]:
a

{}

In [53]:
# keys in the dictionary can be any immuatble data structure
# mutable data structure (like list) cannot be a key

### Sets

In [56]:
# it is directly derived from discrete mathematics concept
# set is an unordered data structure
# set data structure isn't menat to be iterative, there is no way of indexing a particular value
# all of what matters in a set is the existence of that particular value in that set
# set is just a unique collection of certain items, we cannot access the particular item
# to create a set in pyhton, curly braces are used
a = {1,2,3,4}

In [57]:
type(a)

set

In [58]:
# as dictionary is a more prior data structure,
# so when we use empty curly braces it'll be a dictionary
b = {}
type(b)

dict

In [59]:
# so to create an empty set, we use the set() function
c = set()
c

set()

In [60]:
a = {1,2,3,4}
b = {3,4,5,6}

In [61]:
a.intersection(b)   # returns the intersection i.e. common elements of both the sets

{3, 4}

In [62]:
a.union(b)   # returns the union i.e. all the elements present in both of the sets

{1, 2, 3, 4, 5, 6}

In [63]:
a - b   # returns all the values that are in set 'a' and not in set 'b'

{1, 2}

In [65]:
# we cannot index a set, sets are not indexable
# so, a[1] will give an error
# but we can iterate on a set, set in python are iterable
for i in a:
    print(i)   # returns all the values present in the set

1
2
3
4

In [66]:
# as per the definition of set, all the values in the set should be unique
a = {1,2,3,4,1,2,3,4}

In [67]:
# all the duplicate values will be removed and 
# only the non-duplicate values will be kept in the set
# so the length would be 4
a

{1, 2, 3, 4}

In [68]:
len(a)

4

In [69]:
a = [1,2,1,2,1,1,2,2]

In [70]:
# to deduplicate this list
list(set(a))
# but this method does not ensure that the location of these elements will be retained

[1, 2]

### Comprehension

In [1]:
# comprehension is a method of creating data structures in Python
# it is a method using which we can create a set, list and dictionary in a single line of Python

In [2]:
# to create a list of squares up until 10
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

In [4]:
# syntax
# i**2 represents the variable that will be appended in the list
# in front of it is the iteration statement
# in the end we will get a list of all the squares from 0 to 9
[i**2 for i in range(10)]
# this is a very common and syntactical sugar of creating list in single line in python

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# square of all even numbers from 0 to 9
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

##### Dictionary Comprehension

In [6]:
# we want to have a dictionary wherein the key is number i & the value is the square of that number
# just like we used square brackets for list, we will use curly braces for dictionary
# i: i**2 will be inserted in the dictionary
{ i: i**2 for i in range(10)}
# we will get a dictionary of all the numbers from 0 to 9 where key is the number
# and value is the square of that particular number

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [7]:
{ i: i**2 for i in range(10) if i%2==0 }

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

##### Set Comprehension

In [9]:
# set of all the squares of even numbers from 0 to 9
# we will use curly braces but these curly braces won't be having key-value pairs,
# but it will just have the values
{i**2 for i in range(10) if i%2==0}

{0, 4, 16, 36, 64}

In [10]:
# this is not tuple comprehension but a concept of generator expression
a = (i**2 for i in range(10))
a